.logmod
  .logmod__wrapper
    .logmod__container
      %ul.logmod__tabs
        %li{"data-tabtar" => "lgm-2"}
          %a{:href => "", :id => "LOGIN"} Login
        %li{"data-tabtar" => "lgm-1"}
          %a{:href => "", :id => "SIGNUP"} Sign Up
      .logmod__tab-wrapper
        .logmod__tab.lgm-1
          .logmod__heading
            %span.logmod__heading-subtitle
              Enter your personal details
              %strong to create an acount
          .logmod__form
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = devise_error_messages!
              .sminputs
                .input.full
                  = f.label :email, :class => "string.optional", :value => "Email *"
                  = f.email_field :email, autofocus: true, class: "user-email.string.optional", :maxlength => "255", :placeholder => "Email", :size => "50", :type => "email"
              .sminputs
                .input.string.optional
                  = f.label :password, :class => "string.optional", :value => "Password *"
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                  = f.password_field :password, :class => "user-pw.string.optional", autocomplete: "off", :maxlength => "255", :placeholder => "Password", :size => "50", :type => "password"
                .input.string.optional
                  = f.label :password_confirmation, :class => "string.optional", :value => "Repeat password *"
                  = f.password_field :password_confirmation, :class => "user-pw-repeat.string.optional", autocomplete: "off", :maxlength => "255", :placeholder => "Repeat password", :size => "50", :type => "password"
              .simform__actions
                = f.submit "Sign up", :class => "sumbit", :name => "commit", :type => "submit", :value => "Create Account"
                %span.simform__actions-sidetext
                  By creating an account you agree to our
                  %a.special{:href => "#", :role => "link", :target => "_blank"} Terms Privacy
        .logmod__tab.lgm-2
          .logmod__heading
            %span.logmod__heading-subtitle
              Enter your email and password
              %strong to sign in
          .logmod__form
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .sminputs
                .input.full
                  = f.label :email, :class => "string.optional", :value => "Email *"
                  = f.email_field :email, autofocus: true, class: "user-email.string.optional", :maxlength => "255", :placeholder => "Email", :size => "50", :type => "email"
              .sminputs
                .input.full
                  = f.label :password, :class => "string.optional", :value => "Password *"
                  = f.password_field :password, :class => "user-pw.string.optional", autocomplete: "off", :maxlength => "255", :placeholder => "Password", :size => "50", :type => "password"
                  %span.hide-password Show
              .simform__actions
                = f.submit "Log in", :class => "sumbit", :name => "commit", :type => "submit", :value => "Log In"
                %span.simform__actions-sidetext
                  %a.special{:href => "#", :role => "link"}
                    Forgot your password?
                    %br Click here