!!!

= include_gon

%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Search
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/
  %body
    = link_to("Log out", {:action => "logout"}, {:id => "Log out"})
    %h3 Wishlist Test:
    - @wishlists.each do |wl|
      %div
      - for i in 0..wl.bird_ids.length-1
        - bird = Bird.find_by_id(wl.bird_ids[i])
        - seen = wl.seens[i]
        %td= "#{bird.name} -> #{seen}, "
    %h1.align
      .grid
        %form.search{:form_tag => '/explore/search' }
          .form__field
            %input.form__input{:name => "search", :placeholder => "Enter the bird name here...", :type => "search", :text_field_tag => 'search'}/
            %input.button{:type => "submit", :value => "Search", :submit_tag => 'Search'}/
    #map
    - if flash[:alert] != ""
      %h3= flash[:alert] 
    :javascript
      $('#search_result').reset();
      function initMap() {
        var birds = [];
        for (var i = 0; i < gon.pins.length; i++) {
          bird = gon.pins[i];
          birds.push({lat: bird.locationX, lng: bird.locationY});
        }
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: birds[0]
        });
        for (var i = 0; i < birds.length; i++) {
          pin = gon.pins[i];
          var pin1 = birds[i];
          bird = null;
          for (var j = 0; j < gon.birds.length; j++) {
            if (gon.birds[j].id == pin.bird_id) {
              bird = gon.birds[j];
            }
          }
          contentString = '<div id="content">'+
             '<div id="siteNotice">'+
             '</div>' + '<div id="bodyContent">'+
             '<p><b>'
              + bird.name
             + '</b></p><p>'
            + "Last Seen: " + bird.last_seen + '</p><p>'
            + "Total Seen: " + bird.frequency
             + '</p>'+
             '<p>Link: <a href=' + bird.wiki_link + '>'
             + bird.wiki_link + '</a>'+
             '</p>'+
            '</div>'+
            '</div>';

          var infowindow = new google.maps.InfoWindow({
            content: 'bullshit'
          });
          var marker = new google.maps.Marker({
            position: pin1,
            map: map
          });
          
          marker.contentString = contentString;

          marker.addListener('click', function() {
            infowindow.setContent(this.contentString);
            infowindow.open(map, this);
          });
        }
      }
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAZAXAHxRrKlhRSya8IoRc2goYTuUi3ISE&callback=initMap"}
      :cdata
      
      
  .tabs
    .tab
      %input#tab-1{:checked => "checked", :name => "tab-group-1", :type => "radio"}/
      %label{:for => "tab-1"} Search
      .content
        stuff
    .tab
      %input#tab-2{:name => "tab-group-1", :type => "radio"}/
      %label{:for => "tab-2"} Wishlist
      .content
        stuff
    .tab
      %input#tab-3{:name => "tab-group-1", :type => "radio"}/
      %label{:for => "tab-3"} Setting
      .content
        stuff


%input{:type =>"hidden", :value =>@birds, :id => "search_result"}


// reference: https://css-tricks.com/functional-css-tabs-revisited/