!!!

= include_gon

%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Search
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/
  %body
    %h3 Wishlist Test:
    - @wishlists.each do |wl|
      %div
      - for i in 0..wl.bird_ids.length-1
        - bird = Bird.find_by_id(wl.bird_ids[i])
        - seen = wl.seens[i]
        %td= "#{bird.name} -> #{seen}, "
    %h1.align
      .grid
        %form.search{:form_tag => '/explore/search' }
          .form__field
            %input.form__input{:name => "search", :placeholder => "Enter the bird name here...", :type => "search", :text_field_tag => 'search'}/
            %input.button{:type => "submit", :value => "Search", :submit_tag => 'Search'}/
    #map
    - if flash[:alert] != ""
      %h3= flash[:alert] 
    :javascript
      $('#search_result').reset();
      function initMap() {
        var birds = [];
        for (var i = 0; i < gon.birds.length; i++) {
          bird = gon.birds[i];
          birds.push({lat: bird.locationX, lng: bird.locationY});
        }
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: birds[0]
        });
        for (var i = 0; i < birds.length; i++) {
          pin = birds[i];
          var marker = new google.maps.Marker({
            position: pin,
            map: map
          });
        }
      }
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAZAXAHxRrKlhRSya8IoRc2goYTuUi3ISE&callback=initMap"}
      :cdata
      
      
  .tabs
    .tab
      %input#tab-1{:checked => "checked", :name => "tab-group-1", :type => "radio"}/
      %label{:for => "tab-1"} Search
      .content
        stuff
    .tab
      %input#tab-2{:name => "tab-group-1", :type => "radio"}/
      %label{:for => "tab-2"} Wishlist
      .content
        stuff
    .tab
      %input#tab-3{:name => "tab-group-1", :type => "radio"}/
      %label{:for => "tab-3"} Setting
      .content
        stuff


%input{:type =>"hidden", :value =>@birds, :id => "search_result"}


// reference: https://css-tricks.com/functional-css-tabs-revisited/