<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<<<<<<< HEAD
<%= yield :top_content %>
=======
<p class='flash'><%= flash[:notice] %></p>
<p class='flash'><%= flash[:alert] %></p>

<%= yield %>
>>>>>>> login-dev-tmp

<div class="container">
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>